<!--The content below is only a placeholder and can be replaced.-->
<style>
  .events-table th {
      background-color: #E8EAF6;
  }
  .jumbotron {
      background: white;
  }
</style>

<div class="jumbotron mdl-card mdl-shadow--2dp" style="width: auto; border-style:solid;">
  <h1>Zenith Society</h1><br />
  <p class="lead mdl-color-text--grey" style="font-style: italic;">
      The Zenity Society is a family-oriented non-for-profit organization that holds events
      during the week. Check out our upcoming events below!
  </p>
</div>

<div class="jumbotron mdl-card mdl-shadow--2dp" style="width: auto; border-style:solid;">
  <h1>Events This Week</h1><br />
  <table *ngIf="events" border="1">
    <thead>
      <tr>
        <td>Time</td>
        <td>Event Description</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let e of events; let i=index; ">
        <td>{{e.FromDate | date:'h:mma'}} - {{e.ToDate | date:'h:mma'}}</td>
        <td>{{e.ActivityCategoryId}}</td>
      </tr>
    </tbody>
  </table>


<!-- <div>
  <p>Event ID: {{event.EventId}}</p>
  <p>From Date: {{ event.FromDate}}</p>
  <p>To Date: {{ event.ToDate}}</p>
  <p>Entered By Username: {{ event.EnteredByUsername}}</p>
  <p>Activity Category Id: {{ event.ActivityCategoryId}}</p>
  <p>Creation Date: {{ event.CreationDate}}</p>
  <p>Is Active: {{ event.IsActive}}</p>  
</div> -->

