<div *ngIf="event">
    <p>Event ID: {{event.EventId}}</p>
    <p>From Date: {{ event.FromDate}}</p>
    <p>To Date: {{ event.ToDate}}</p>
    <p>Entered By Username: {{ event.EnteredByUsername}}</p>
    <p>Activity Category Id: {{ event.ActivityCategoryId}}</p>
    <div *ngFor='let a of activityCategories; let j=index'>
        <div *ngIf='event.ActivityCategoryId == a.ActivityCategoryId'>
          <p>{{a.ActivityDescription}}</p>
        </div>
    </div>
    <p>Creation Date: {{ event.CreationDate}}</p>
    <p>Is Active: {{ event.IsActive}}</p>  
    
    <!-- <div>
      <p><label>Event ID: </label><input [(ngModel)]="event.EventId" placeholder="EventId"></p>
      <p><label>From Date: </label><input [(ngModel)]="event.FromDate" placeholder="FromDate"></p>
      <p><label>To Date: </label><input [(ngModel)]="event.ToDate" placeholder="Occupation"></p>
      <p><label>Entered By Username: </label><input [(ngModel)]="event.EnteredByUsername" placeholder="EnteredByUsername"></p>
      <p><label>Activity Category Id: </label><input [(ngModel)]="event.ActivityCategoryId" placeholder="ActivityCategoryId"></p>
      <p><label>Creation Date: </label><input [(ngModel)]="event.CreationDate" placeholder="CreationDate"></p>
      <p><label>Is Active: </label><input [(ngModel)]="event.IsActive" placeholder=""true or false""></p>
    </div> -->
    <button (click)="goBack()">Back</button>
</div>