<div *ngIf="event">
    <p>Event ID: {{event.eventId}}</p>
    <p>From Date: {{ event.fromDate}}</p>
    <p>To Date: {{ event.toDate}}</p>
    <p>Entered By Username: {{ event.enteredByUsername}}</p>
    <p>Activity Category Id: {{ event.activityCategoryId}}</p>
    <div *ngFor='let a of activityCategories; let j=index'>
        <div *ngIf='event.activityCategoryId == a.activityCategoryId'>
          <p>{{a.activityDescription}}</p>
        </div>
    </div>
    <p>Creation Date: {{ event.creationDate}}</p>
    <p>Is Active: {{ event.isActive}}</p>  
    <button (click)="goBack()">Back</button>
</div>