<div class="jumbotron mdl-card mdl-shadow--2dp" style="width: auto; border-style:solid;">
  <h1>Zenith Society</h1><br />
  <p class="lead mdl-color-text--grey" style="font-style: italic;">
      The Zenity Society is a family-oriented non-for-profit organization that holds events
      during the week. Check out our upcoming events below!
  </p>
</div>

<div class="jumbotron mdl-card mdl-shadow--2dp" style="width: auto; border-style:solid;">
  <h1>All Events</h1><br />
  <table *ngIf="events" border="1">
    <thead>
      <tr>
        <td>Activity Description</td>
        <td>Starts</td>
        <td>Ends</td>
        <td>Created By User</td>
        <td>Creation Date</td>
        <td>Is Active</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let e of events; let i=index;" (click)="onSelect(e)" [class.selected]="e === selected">
        <td>
          <div *ngFor='let a of activityCategories; let j=index'>
              <div *ngIf='e.activityCategoryId == a.activityCategoryId'>{{a.activityDescription}}</div>
          </div>
        </td>
        <td>{{e.fromDate | date:'MM/dd/yyyy h:mma'}}</td>
        <td>{{e.toDate | date:'MM/dd/yyyy h:mma'}}</td>
        <td>{{e.enteredByUsername}}</td>
        <td>{{e.creationDate | date:'MM/dd/yyyy h:mma'}}</td>
        <td>{{e.isActive}}</td>
      </tr>
    </tbody>
  </table>
</div>
  