<div class="jumbotron mdl-card mdl-shadow--2dp" style="width: auto; border-style:solid;">
  <h1>Zenith Society</h1><br />
  <p class="lead mdl-color-text--grey" style="font-style: italic;">
      The Zenity Society is a family-oriented non-for-profit organization that holds events
      during the week. Check out our upcoming events below!
  </p>
</div>

<div class="jumbotron mdl-card mdl-shadow--2dp" style="width: auto; border-style:solid;">
  <h1>Events This Week</h1><br />
  <table *ngIf="events" border="1">
    <thead>
      <tr>
        <td>Time</td>
        <td>Event Description</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let e of events; let i=index;"  [class.selected]="e === selected">
          <td>{{e.fromDate | date:'h:mma'}} - {{e.toDate | date:'h:mma'}}</td>
          <td>
            <div *ngFor='let a of activityCategories; let j=index'>
                <a [routerLink]="['/detail', e.eventId]" *ngIf='e.activityCategoryId == a.activityCategoryId'>{{a.activityDescription}}</a>
            </div>
          </td>
      </tr>
    </tbody>
  </table>
  <button (click)="previousWeek()"> < </button>
  &nbsp;&nbsp;&nbsp;&nbsp;
  <button (click)="nextWeek()"> > </button>
</div>
